<Rooms.sidebar rooms={@rooms} room={@room} live_action={@live_action} />
<div class="p-4 sm:ml-64">
  <Room.show
    :if={@live_action == :show}
    messages={@streams.messages}
    current_user_id={@current_user.id}
    room={@room}
    scrolled_to_top={@scrolled_to_top}
  />
</div>
<.modal id="edit_message" on_confirm={JS.push("update_message")}>
  EDIT MESSAGE <div><%= @message.content %></div>
  <:confirm>save</:confirm>
  <:cancel>cancel</:cancel>
</.modal>
