<Rooms.sidebar rooms={@rooms} room={@room} live_action={@live_action} />
<div class="p-4 sm:ml-64">
  <Room.show
    :if={@live_action == :show}
    messages={@streams.messages}
    current_user_id={@current_user.id}
    room={@room}
    scrolled_to_top={@scrolled_to_top}
  />
</div>

<.live_component module={Message.EditForm} message={@message} id="message-edit-form" />
